<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ws="http://jax-ws.dev.java.net/spring/core"
       xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
http://jax-ws.dev.java.net/spring/core http://jax-ws.java.net/spring/core.xsd 
http://jax-ws.dev.java.net/spring/servlet http://jax-ws.java.net/spring/servlet.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.emergya.geoservices.search"/>
    
    <wss:binding url="/SearchService">
        <wss:service>
            <ws:service bean="#searchService" impl="com.emergya.geoservices.search.ws.SearchServiceImpl"/>
        </wss:service>
    </wss:binding>

 
    <!-- Web service bean -->
    <bean id="searchService" class="com.emergya.geoservices.search.ws.SearchServiceImpl"/>
    
    <!-- Oracle data source -->
    <bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
        <property name="uRL" value="${geoservices.search.roads.oracle.url}"/>        
        <property name="user" value="${geoservices.search.roads.oracle.usr}"/>
        <property name="password" value="${geoservices.search.roads.oracle.pwd}"/>
    </bean>
    
    <context:property-placeholder location="classpath:app.properties"/>
    
</beans>
