.classpath
.project
*/target/
*~
*.bak
*.orig
*/nb-configuration.xml
**/context.xml
**/.settings/
/geoservices-search-pois-solr-config/data/
/geoservices-search-pois-solr-config/conf/dataimport-devel.properties
